body {  
  background-color: #EFEFEF;  
  font-family: "Lucida Grande","Verdana","Arial","Bitstream Vera Sans",sans-serif;  
  font-size: 14px;  
}  
      
.header_wrapper {  
    width: 880px;  
    margin: 0 auto;  
    overflow:hidden;  
    padding:20px 0;  
}  

.logo a {  
    color: #338DCF;  
    float: left;  
    font-size: 48px;  
    font-weight: bold;  
    text-shadow: 2px 2px 2px #FFFFFF;  
    text-decoration:none;  
}  

#container {  
  width: 800px;  
  margin: 0 auto;  
  background-color: #FFF;  
  padding: 20px 40px;  
  border: solid 1px #BFBFBF;    
}  

#login_user_status {  
  float: right;      
}  

.flash {
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    border-radius: .25em;
    -webkit-box-shadow: .125em .125em .125em #cfcfcf;
    -moz-box-shadow: .125em .125em .125em #cfcfcf;
    box-shadow: .125em .125em .125em #cfcfcf;
    margin: 1.5em .25em;
    padding: 1em;
}

#flash_error {
    border-top: 1px solid #f7d0d0;
    border-bottom: 1px solid #c87676;
    background-color: #f3c7c7;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3c7c7), to(#eea2a2));
    background: -moz-linear-gradient(top, #f3c7c7, #eea2a2);
    background: linear-gradient(top, #f3c7c7, #eea2a2);
    color: #d12f19;
}

#flash_notice {
    border-top: 1px solid #fefbcd;
    border-bottom: 1px solid #e6e837;
    background-color: #feffb1;
    background: -webkit-gradient(linear, left top, left bottom, from(#feffb1), to(#f0f17f));
    background: -moz-linear-gradient(top, #feffb1, #f0f17f);
    background: linear-gradient(top, #feffb1, #f0f17f);
    color: #817134;
}
